<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Los más educados — Municipios y Pruebas Saber 11</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
      <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}

    <div class="container-fluid pie">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><small>Carpintería, latonería y pintura: <a href="http://finiterank.com/notas">Javier Moreno</a><br>(Basado en una idea de <a href="http://www.jorgeorlandomelo.com/">Jorge Orlando Melo</a>)<br>Febrero de 2014</small></div>
        <div class="col-md-6"><small>El código en R que escribí para generar las gráficas y tablas está en <a href="https://github.com/finiterank/saber_notebooks">este repositorio</a>. Mil disculpas por anticipado para quien se anime a leer ese mierdero.</small></div>
      </div>
    </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="scripts/main.js"></script>
  </body>
</html>
